<div class="w-full mx-auto bg-[#EEEFF0] h-full py-12 border">
    <div class="container mx-auto max-w-screen-xl space-y-4">
        <h1 class="text-4xl font-medium" style="font-family: 'Ubuntu'">
            Kenali kami lebih jauh
        </h1>
        <div class="md:flex md:items-center space-x-4">
            <div style="font-family: 'Roboto'">
                <p class="text-gray-600 text-[18px] md:mb-12">
                    Sekawan Media merangkul seluruh tim dan mitra melalui visi,
                    nilai, dan etos kerja yang penuh kekeluargaan.
                </p>
                <p></p>
                <ul
                    class="space-y-2 md:space-y-8"
                    style="font-family: 'Ubuntu'"
                >
                    {# {% for link in links('footer_menu').get() %}
                    <li>
                        <a
                            href="{{ link.url }}"
                            target="{{"
                            link.target
                            }}
                            class="hover:text-gray-800"
                            >{{ link.title }}</a
                        >
                    </li>
                    {% endfor %} #}
                    <li>
                        <a
                            href=""
                            class="flex justify-start items-center my-auto"
                        >
                            <i
                                class="fa-solid fa-arrow-right fa-xl text-teal-400"
                            ></i>
                            <h5
                                class="font-regular text-xl text-start mx-4 text-gray-600"
                            >
                                Tentang Kami
                            </h5>
                        </a>
                    </li>
                    <li>
                        <a
                            href=""
                            class="flex justify-start items-center my-auto"
                        >
                            <i
                                class="fa-solid fa-arrow-right fa-xl text-teal-400"
                            ></i>
                            <h5
                                class="font-regular text-xl text-start mx-4 text-gray-600"
                            >
                                Informasi & Berita
                            </h5>
                        </a>
                    </li>
                    <li>
                        <a
                            href=""
                            class="flex justify-start items-center my-auto"
                        >
                            <i
                                class="fa-solid fa-arrow-right fa-xl text-teal-400"
                            ></i>
                            <h5
                                class="font-regular text-xl text-start mx-4 text-gray-600"
                            >
                                Karir
                            </h5>
                        </a>
                    </li>
                </ul>
            </div>
            <div
                class="flex my-12 md:space-x-8 space-x-10 items-start md:mb-24 px-4 md:px-8 w-full md:w-2/4"
            >
                <div
                    class="h-24 md:h-36 min-h-12 w-4 self-stretch bg-gradient-to-t from-blue-900 to-teal-400"
                ></div>
                <div>
                    <p
                        class="text-2xl md:text-3xl md:leading-[43px] font-normal text-gray-600"
                        style="font-family: 'Ubuntu'"
                    >
                        "Dengan inovasi teknologi, kami membantu anda untuk
                        terus tumbuh dan berkembang"
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
