<div class="relative left-0 right-0 z-20 flex justify-center max-w-screen-xl mx-auto md:-mt-20">
        <div class="z-10 w-full mx-auto md:flex md:justify-center md:mx-auto md:-mt-32">
            <div class="grid content-between grid-cols-1 gap-12 shadow-lg">
                <div class="relative m-auto mt-0 overflow-hidden bg-transparent group w-96 h-96">
                    <div
                        class="absolute w-full h-full duration-1000 transform bg-[#33cdb2] inset-y-12 group-hover:-inset-y-0">
                        <div class="absolute w-full p-10 place-content-center">
                            <h5 class="mb-6 tracking-wide font-[500] text-white uppercase text-[15px]"
                                style="font-family: 'Roboto';">Layanan</h5>
                            <p class="mb-3 text-[20px] font-[700] text-white" style="font-family: 'Ubuntu';">
                                Akselerasi
                                dan otomatisasi digital
                            </p>
                            <div class="hidden w-full group-hover:block place-content-start">
                                <p class="w-4/5 mt-5 text-[15px] font-[400] leading-[24px] text-white text-start"
                                    style="font-family: 'Roboto';">Fokus pada kemajuan digital untuk mempercepat
                                    aktivitas bisnis.
                                </p>
                            </div>
                        </div>
                        <div class="absolute items-end justify-between px-8 mt-64">
                            <div class="relative space-y-1 group">
                                <a href="" class="w-1/4 text-white uppercase text-[15px] font-[500]">
                                    Selengkapnya
                                </a>
                                <div
                                    class="absolute left-0 right-0 h-[3px] bg-white w-1/3 hover:transition group-hover:duration-1000 group-hover:ease-in-out group-hover:w-full">
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex w-full mt-20 place-content-center">

                        </div>
                    </div>
                </div>
            </div>
            <div class="grid content-between grid-cols-1 gap-12 shadow-lg">
                <div class="relative m-auto mt-0 overflow-hidden bg-transparent group w-96 h-96">
                    <div
                        class="absolute w-full h-full duration-1000 transform bg-[#102e61] inset-y-12 group-hover:-inset-y-0">
                        <div class="absolute w-full p-10 place-content-center">
                            <h5 class="mb-6 tracking-wide font-[500] text-white uppercase text-[15px]"
                                style="font-family: 'Roboto';">Solusi</h5>
                            <p class="mb-3 text-[20px] font-[700] text-white" style="font-family: 'Ubuntu';">Solusi
                                teruji
                                dan tersegmentasi
                            </p>
                            <div class="hidden w-full group-hover:block place-content-start">
                                <p class="w-4/5 mt-5 text-[15px] font-[400] leading-[24px] text-white text-start"
                                    style="font-family: 'Roboto';">Sekawan Media menawarkan solusi
                                    yang terbukti sesuai dengan permintaan berbagai industri.
                                </p>
                            </div>
                        </div>
                        <div class="absolute items-end justify-between px-8 mt-64">
                            <div class="relative space-y-1 group">
                                <a href="" class="w-1/4 text-white uppercase text-[15px] font-[500]">
                                    Selengkapnya
                                </a>
                                <div
                                    class="absolute left-0 right-0 h-[3px] bg-white w-1/3 hover:transition group-hover:duration-1000 group-hover:ease-in-out group-hover:w-full">
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex w-full mt-20 place-content-center">

                        </div>
                    </div>
                </div>
            </div>
            <div class="grid content-between grid-cols-1 gap-12 shadow-lg">
                <div class="relative m-auto mt-0 overflow-hidden bg-transparent group w-96 h-96">
                    <div class="absolute inset-0 w-full h-full bg-white inset-y-12">
                        <div class="absolute w-full p-10 place-content-center">
                            <div class="grid content-between grid-cols-1 gap-14">
                                <div style="font-family: 'Ubuntu';">
                                    <h5 class="mb-2 text-3xl font-bold tracking-tight text-blue-900">Butuh bantuan?
                                        Ahli
                                        kami siap membantu Anda.</h5>
                                </div>
                                <div>
                                    <a href="#"
                                        class="w-full px-4 py-4 text-sm font-medium text-blue-900 uppercase transition ease-in-out bg-transparent border-2 border-gray-800 md:w-1/2 lg:px-12 transition-duration-700 hover:bg-blue-900 hover:text-white">
                                        Hubungi Kami
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>