[viewBag]
==
<div class="my-12 mt-54 md:mt-32 max-w-screen-xl mx-auto relative z-10">
    <div class="flex-none text-center space-y-8 w-full">
        <h1
            class="text-4xl tracking-wide font-medium text-gray-800"
            style="font-family: 'Ubuntu'"
        >
            {% content 'primary-tagline' %}
            
        </h1>
        <p
            class="text-gray-700 text-[18px] mx-auto px-28 text-center"
            style="font-family: 'Roboto'"
        >
            Sekawan Media telah membantu ratusan perusahaan kecil, menengah,
            hingga besar dalam jangkauan global. Dengan berfokus penuh pada
            kebutuhan unik setiap permasalahan, layanan kami memberikan solusi
            yang tepat dan akurat dengan hasil maksimal.
        </p>
    </div>
    <div class="w-full flex justify-start items-center my-8 relative">
        <img src="{{ 'assets/img/maps-img.png' | theme }}" class="w-auto px-4
        mx-auto" alt="">
        <div class="absolute justify-start ml-20">
            <div class="bg-cover grid grid-col-1 items-center gap-12 px-8">
                <div
                    class="w-48 bg-white bg-opacity-20 backdrop-blur-sm rounded shadow-lg px-4 py-4 mx-8 group transition duration-300 ease-in-out hover:bg-blue-900 hover:bg-opacity-60"
                >
                    <h1
                        class="text-5xl tracking-wide font-medium text-gray-800 group-hover:text-white"
                        style="font-family: 'Ubuntu'"
                    >
                        5+
                    </h1>
                    <h5
                        class="text-lg font-medium text-gray-600 group-hover:text-white"
                        style="font-family: 'Roboto'"
                    >
                        Cakupan Negara
                    </h5>
                </div>
                <div
                    class="w-48 bg-white bg-opacity-20 backdrop-blur-sm rounded shadow-lg px-4 py-4 mx-8 group transition duration-300 ease-in-out hover:bg-blue-900 hover:bg-opacity-60"
                >
                    <h1
                        class="text-5xl tracking-wide font-medium text-gray-800 group-hover:text-white"
                        style="font-family: 'Ubuntu'"
                    >
                        100+
                    </h1>
                    <h5
                        class="text-lg font-medium text-gray-600 group-hover:text-white"
                        style="font-family: 'Roboto'"
                    >
                        Klien Puas
                    </h5>
                </div>
                <div
                    class="w-48 bg-white bg-opacity-20 backdrop-blur-sm rounded shadow-lg px-4 py-4 mx-8 group transition duration-300 ease-in-out hover:bg-blue-900 hover:bg-opacity-60"
                >
                    <h1
                        class="text-5xl tracking-wide font-medium text-gray-800 group-hover:text-white"
                        style="font-family: 'Ubuntu'"
                    >
                        300+
                    </h1>
                    <h5
                        class="text-lg font-medium text-gray-600 group-hover:text-white"
                        style="font-family: 'Roboto'"
                    >
                        Proyek Selesai
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>